# Byte-compiled / optimized / DLL files
/.idea/
__pycache__/
*.py[cod]
*$py.class
*.pyc
.pyc
__pycache__
# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/